@{
    ViewData["title"] = "Create";
}

<h1>Create Author</h1>

<form method="post">

    <input type="text" name="Name" placeholder="Enter author's name"/><br /><br />
    <input type="text" name="Age" placeholder="Enter age"/><br /><br />

    <button type="submit">Create</button>

</form>
