﻿@{
    ViewData["Title"] = "Details";
}

<h1>Details Page</h1>

<p1>Name=@Model.Name</p1> <br />
<p1>Isbn=@Model.Isbn</p1><br />
<p1>Price=@Model.Price</p1> <br />
<p1>AuthorId=@Model.AuthorId</p1> <br />
<p1>Description=@Model.Description</p1> <br />
